/* ----- FONT ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- COLOR ----- */
:root{
    --body-color: rgb(235, 235, 235);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);

    --first-color: rgb(236, 59, 188);
    --first-color-hover: rgb(152, 36, 224);

    --second-color: rgb(233, 5, 176);
    --first-shadow-color: rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

/* ----- BUTTON ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: rgb(152, 36, 224);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    color: var(--color-white);
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--first-color);
    color: var(--color-white);
}

/* ----- ICONS ----- */
i{
    font-size: 16px;
}

body{
    background: var(--body-color);
}
.container{
    width: 100%;
    position: relative;
}

/* ----- NAVIGATION BAR ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    flex: 1;
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
    margin-right: auto;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--first-color);
    transition: .3;
}
.wrapper{
    padding-inline: 10vw;
}

/* ----- HOME ----- */
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-card span{
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.featured-name{
    font-size: 30px;
    font-weight: 400px;
    color: var(--text-color-second);
    margin-block: 20px;
}
.featured-text-info{
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn a{
    color: inherit;
    text-decoration: none;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}
.social_icons{
    display: flex;
    margin-top: 2em;
    gap: 30px;
}
.social_icons a{
    color: inherit;
    text-decoration: none;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    cursor: pointer;
}
.icon:hover{
    color: var(--first-color);
}

/* ----- HOME (IMAGE) ----- */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
.scroll-btn{
   position: absolute;
   bottom: 0;
   left: 50%;
   translate: -50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 50px;
   gap: 5px;
   text-decoration: none;
   color: var(--text-color-second);
   background: var(--color-white);
   border-radius: 30px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn i{
    font-size: 20px;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

/* ----- HEADER ----- */
.top-header{
    text-align: center;
    margin-bottom: 2em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
    
}
.top-header span{
    color: #999;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

/* ----- ABOUT BOX ----- */
.section{
    padding-block: 5em;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* ----- ABOUT INFO ----- */
#about{
    padding-top: 120px;
}
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 30px 30px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}
.about-info p{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #777;
}

/* ----- EXPERIENCE ----- */
#experience{
    padding-top: 120px;
}
.experience-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.experience-box{
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 350px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
    text-align: center;
}
.experience-box label{
    font-size: 10px;
    color: #777;
    text-align: center;
}
.experience-box:hover{
    transition: transform 0.2s; 
    transform: scale(1.1);
}

/* ----- SKILL ----- */
#skill{
    padding-top: 160px;
}
.skill-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}
.skill-box{
    padding: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 150px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
    text-align: center;
}
.skill-box label{
    font-size: 12px;
    color: #777;
    text-align: center;
}
.garis {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
    
}
.garis-box{
    padding: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
    text-align: center;
}

/* ----- EDUCATION ----- */
#education{
    padding-top: 100px;
}
.education-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}
.education-box{
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 400px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
    text-align: center;
}
.education-box label{
    font-size: 15px;
    color: #777;
    text-align: center;
}
.education-box:hover{
    transition: transform 0.2s; 
    transform: scale(1.1);
}
@media only screen and (max-width: 800px) {
    .education-container{
        flex-direction: column;
    }
    .education-box{
        width: 70%;
        height: 400px;
    }
}

/* ----- CONTACT ME ----- */
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    padding: 85px 30px;
}
.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
}
textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: var(--color-white);
}
.form-button>.btn:hover{
    background: rgb(152, 36, 224);
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}

/* ----- FOOTER BOX ----- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    background: #F8F8F8;
    padding-block: 40px 60px;
}
.top-footer p{
    font-size: 17px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    display: flex;
}
.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
}
.footer_menu_list a:hover{
    color: var(--second-color);
}
.footer-social-icons{
    display: flex;
    gap: 30px; 
}
.footer-social-icons a{
    color: inherit;
    text-decoration: none;
}
.bottom-footer{
    font-size: 10px;
    margin-top: 10px;
}


/* ----- RESPONSIVE ----- */
@media only screen and (max-width: 1024px){
    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}

@media only screen and (max-width: 900px) {
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
    .nav_menu_list{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info{
        width: 100%;
    }
    .experience-container{
        justify-content: center;
    }
    .experience-box{
        width: 80%;
    }
}

@media only screen and (max-width: 540px){
    .featured-name{
        font-size: 40px;
    }
    .experience-box{
        width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }
}